/*Reset*/
:where(body > *) {
    border: dashed 2px lightgrey;
}

:where(body > * > *) {
    border: dashed 2px lightgreen;
}

:where(body > * > * > *) {
    border: dashed 2px lightpink
}



body {
    grid-template-columns: repeat(12, 1fr);
}

.header {
    margin: 0 80px;
    padding: 20px 0;
    background-color: #eee5;
    height: 140px;
    grid-column: span ;
}